@import url('https://fonts.googleapis.com/css2?family=Relaway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');

body {
  font-family: 'Relaway', sans-serif;
}

.My_Logo{
  font-family: 'Economica', sans-serif;
  font-weight: bolder;
}