@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');

body {
  font-family: 'Relaway', sans-serif;
}

.My_Logo {
  font-family: 'Economica', sans-serif;
  font-weight: 400px;
}

.glow {
  -webkit-box-shadow: 0px 0px 300px 0px rgba(45, 255, 196, 0.71);
  -moz-box-shadow: 0px 0px 300px 0px rgba(45, 255, 196, 0.71);
  box-shadow: 0px 0px 300px 0px rgba(45, 255, 196, 0.71);
}

.glassMorphism {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#Themelight {

  background-color: aliceblue;
  color: black;

  .text-black {
    color: black;
  }

  .bg-blue-50 {
    background-color: #d6e1fe;
  }

  .text-gray-100 {
    color: rgb(52, 52, 52);
  }

}

#ThemeDark {

  background-color: #080808;
  color: white;

  .text-black {
    color: white;
  }

  .bg-blue-50 {
    background-color: #00030b;
  }

  .bg-gray-25 {
    background-color: rgb(8, 8, 8);
  }

}

.animation-svg {
  animation: blobAnimation 4s infinite alternate-reverse;
}

.textAnimation {
  animation: textGlow 1s ease-in-out infinite alternate;
}

@keyframes textGlow {
  from {
    text-shadow: 0 0 10px rgba(45, 255, 196, 0.7);
  }

  to {
    text-shadow: 0 0 15px rgba(45, 255, 196, 0.7),
      0 0 5px rgba(45, 255, 196, 0.7);
  }
}

@keyframes blobAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}