@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');

body {
  font-family: 'Relaway', sans-serif;
}

.My_Logo {
  font-family: 'Economica', sans-serif;
  font-weight: bolder;
}

#Themelight {

  background-color: aliceblue;
  color: black;

  .text-black {
    color: black;
  }

  .bg-blue-50 {
    background-color: #d6e1fe;
  }

  .text-gray-100 {
    color: rgb(52, 52, 52);
  }

}

#ThemeDark {

  background-color: #080808;
  color: white;

  .text-black {
    color: white;
  }

  .bg-blue-50 {
    background-color: #00030b;
  }

  .bg-gray-25 {
    background-color: rgb(8, 8, 8);
  }

}



.animation-svg {
  animation: blobAnimation 4s infinite alternate-reverse;
}

@keyframes blobAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}
